@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.panel-container {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.panel-container::-webkit-scrollbar {
  display: none;
}

.dragging {
  opacity: 0.5;
  transform: scale(1.02);
}

.panel-enter {
  opacity: 0;
  transform: translateX(20px);
}

.panel-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.panel-exit {
  opacity: 1;
  transform: translateX(0);
}

.panel-exit-active {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 300ms, transform 300ms;
}
